body {
    margin: 0;
  }

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#f6f9fd;
    padding: 1.5em;
    top: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 2em;
}

.navbar li a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
}

nav input[type='checkbox'], nav label {
  display: none;
}

img{
  border-radius: 8%;
}



/*Responsive layout: Stack two columns vertically under 700px. Code inspired from "W3Schools responsive flexboxes." */

@media screen and (max-width: 700px) {


     .navbar,ul,li  {   
      flex-direction: column;
    }
    ul,li {
        margin: 0.5em;
      }
      .nav-title{
        font-size: medium;
        margin: 0;
      }

  }



