body {
  margin: 0;
}

/* Header part|-- Nav-Bar Implementation */

/* General styling for the navigation bar */
.navbar {
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: #764abc;
  /*background-color: #212529; alternative color*/
  padding: 1.5em;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Margin for å få h1 under nav-baren*/
.nav-h1{
  margin-top: 10%;
}

/* Hamburger Menu Icon and Mobile Styles */
.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  display: none;
  /* Initially hidden */
}

/* Checkbox for the menu, always hidden */
#menu {
  display: none;
}

/* Navigation list styling */
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Individual list items in the navigation menu */
.nav-list li {
  margin-right: 2em;
  text-align: center;
  border-right: 2px solid #1DC9B7;
}

/* Common styling for navigation links and logo */
.nav-link,
.nav-logo {
  text-decoration: none;
  color: white;
}

/* Additional styling for list items in the navigation menu */
.nav-list li {
  text-align: center;
}
.nav-link{
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

/* Logo Styling */
.nav-logo {
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid transparent;
  /* Transparent border initially, the border is added on hover */
  transition: transform 0.3s ease, border-bottom 0.3s ease;
  transform-origin: center bottom;
  padding-left: 1%;
}

/* link styling, hover and active (by help of active class in html)  */
.nav-link:hover  {
  background: #1DC9B7;
  transition: 0.8s;
}
.nav-logo:hover{
  transform: scale(1.2);
  border-bottom: 2px solid #1DC9B7; 
}

.nav-link.active{
  border-bottom: 2px solid whitesmoke ;
}

.intro-box{
  margin-top: 6em;
  width: 100%;
  height: 100vh;
  /* bildet er tatt fra|-- https://www.flickr.com/photos/oslomet/50505034346/in/album-72157627082396818/ */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(../IMG/oslomet4.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.intro-box h1 {
  margin: 0;
  font-size: 3.5em;
  font-family: "Raleway";
  color: #FFFFFF;
}
.intro-box p{
  color: #FFFFFF;
  font-size: 1.5em;
}
.intro-box h1,.intro-box p{
  max-width: 70%;
  text-align: center;
}
.apply-btn{
  text-decoration: none;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #ff4f5a;
  border-radius: 5px;
  padding: 1em 2em;
  font-size: 1.3em; 
}


/* Responsive Layout for Small Screens */
/* Responsive layout: Stack items in row. Code inspired by "W3Schools responsive flexboxes." */
@media screen and (max-width: 700px) {

  /* Display hamburger menu icon */
  .menu-toggle {
    display: block;
  }

  /* Hide navigation list by default for smaller screens */
  .nav-list {
    display: none;
  }

  /* Display navigation list when the menu is checked */
  #menu:checked+ul.nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /* Adjusting layout for the entire navbar on smaller screens */
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  /* Additional styling for navigation links on smaller screens */
  .nav-link {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 1em;
  }
  
  .intro-box{
    margin-top: 2em;
  }

}

  /* A grid container to make it possible to style your page as you like with the placement */
.grid-container{
  display: grid;
 grid-template-areas: 
 "heading heading heading heading"
 "link main main main"
 "link main main main"
 "link main main main";
}

  /*one out of three "areas" that we can choose where to put inside the grid container, this one is for the main paragraphs and they will take up the middle and the right side of the screen*/
.paragrafer{
  grid-area: main;
  background-color: yellow;
}

  /*one out of three "areas" that we can choose where to put inside the grid container, this one is for the links and they will take up the left side of the screen*/
.link{
  grid-area: link;
  background-color: yellow;
  color: black;
}

  /*one out of three "areas" that we can choose where to put inside the grid container, this one is for the heading and it will take up the top of the screen*/
.heading{
  grid-area: heading;
  background-color: black;
  color: yellow;
}

  /*this is to make space between links in the topical page*/
.space-link{
  margin-bottom: 50%;
  width: 5%;
}

  /*this class is for centering texts*/
.center{
  text-align: center;
}

/* Main part|------- */
/* Section overview|--*/

.overview{
  width: 100%;
  margin: 0;
}
.row{
  display: flex;
  justify-content: space-between;
}
.column{
  flex: 1;
}
.column img{
    width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 700px) {
  .row{
    flex-direction: column;
  }
}