body {
  margin: 0;
}

.navbar {
  background-color: #764abc;
  padding: 1.5em;
  top: 0;
}

.nav-list {
  list-style-type: none;
  display: none;
}

.nav-link,
.nav-logo {
  text-decoration: none;
  color: white;
}

.nav-list li {
  margin-right: 2em;
  text-align: center;
}

.nav-logo {
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid transparent; /* Transparent border initially, the border is added on hover */
  transition: transform 0.3s ease, border-bottom 0.3s ease; 
  transform-origin: center bottom;
  padding-left: 1%;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

#menu {
  display: none;
}

#menu:checked+ul.nav-list {
  display: block;
}


img {
  border-radius: 8%;
}



/*Responsive layout: Stack two columns vertically under 700px. Code inspired from "W3Schools responsive flexboxes." */

@media screen and (min-width: 700px) {

  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }

  #menu:checked+ul.nav-list {
    display: flex;
  }

  #menu:checked+ul.nav-list {
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-list li {
    border-right: 1px solid #1DC9B7;
  }

  .menu-toggle {
    display: none;
  }

  .nav-logo:hover,
  .nav-link:hover {
    color: rgba(255, 255, 255, 1);
  }

  .nav-link:hover  {
    background: #1DC9B7;
  }
  .nav-logo:hover {
    transform: scale(1.2);
    border-bottom: 2px solid #1DC9B7; 
}
  
  .nav-link {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 1em;
  }
  

}